import java.util.Scanner;


public class Dart {

  public static void main(String[] args) {
        Scanner scn= new Scanner(System.in);
        System.out.println("Please enter the value of darts which is thrown=");
        double counter= scn.nextInt();
        double i= 1;
        double counterA=0;
        double counterB=0;
        double counterC=0;
        double counterD=0;
        double counterE=0;
        double counterF=0;
        double counterIn=0;
        double counterInt=0;
        double counterInter=0;
               
        while(i<=counter){
            
        double x=(int)(Math.random()*(20)-10);
        double y=(int)(Math.random()*(20)-10);
        
        i++;
        
        if(x/10==0.0 || y/10==0.0){
            System.out.println("Coordinates of:"+"("+x/10 + "," + y/10 + ")");
            System.out.println("Undecided region");
            counterInter++;
        }
       
        else if(x/10 <= 0 && y/10 >= 0){
            System.out.println("Coordinates of:" +"(" + x/10 +"," + y/10+ ")");
            System.out.println("Target area which is dart thrown= C");
            counterC++;
            
        }
        else if(x/10<=0 && y/10<=0 && (x/10==y/10) ){
            System.out.println("Coordinates of:" +"(" + x/10 +"," + y/10 + ")");
            System.out.println("Undecided region");
            counterInt++;
            
        }
        else if(x/10>=0 && y/10<=0 ){
             System.out.println("Coordinates of:" +"(" + x/10 +"," + y/10 + ")");
            System.out.println("Target area which is dart thrown= F");
            counterF++;
            
        }
       
        else if( x/10 <= 0 && y/10<= 0 && y/10>x/10){
             System.out.println("Coordinates of:" +"(" + x/10 +"," + y/10 + ")");
            System.out.println("Target are which is dart thrown= D");
            counterD++;
            
        }
        else if(x/10<=0 && y/10<= 0 && y/10<x/10){
             System.out.println("Coordinates of:" +"(" + x/10 +"," + y/10 + ")");
             System.out.println("Target are which is dart thrown= E");
             counterE++;
        }
        else if(x/10>=0 && y/10>=0 && (y/10 == (1-(x/10)))){
             System.out.println("Coordinates of:" +"(" + x/10 +"," + y/10 + ")");
            System.out.println("Undecided region");
            counterIn++;
            
        } 
        else if(x/10>=0 && y/10>=0 && (x/10)+(y/10)>1){
             System.out.println("Coordinates of:" +"(" + x/10 +"," + y/10 + ")");
             System.out.println("Target are which is dart thrown= B");
             counterB++;
        }
        else if(x/10>=0 && y/10>= 0 && (x/10)+(y/10)<1 ){
             System.out.println("Coordinates of:" +"(" + x/10 +"," + y/10 + ")");
             System.out.println("Target are which is dart thrown=A ");
             counterA++;
        }
         
            
      
        
       
        
        
    }
        int solution= (int) ((int) (counterIn*100)/counter + (counterInt*100)/counter + (counterInter*100)/counter);
        
        System.out.println("A:"+(int) counterA +"darts"+"("+ (counterA*100)/counter + "%)");
        System.out.println("B:"+(int) counterB +"darts"+"("+ (counterB*100)/counter + "%)");
        System.out.println("C:"+(int) counterC +"darts"+"("+ (counterC*100)/counter + "%)");
        System.out.println("D:"+(int) counterD +"darts"+"("+ (counterD*100)/counter + "%)");
        System.out.println("E:"+(int) counterE +"darts"+"("+ (counterE*100)/counter + "%)");
        System.out.println("F:"+(int)counterF +"darts"+"("+ (counterF*100)/counter + "%)");
        System.out.println("Undecided:"+ (int) (counterIn + counterInt + counterInter) + "darts"+"("+ solution + "%)" );
         
    
}
}
